body{

    background-image: url("../images/quizwiz.jpg");
    text-align: center;
    font-size: 15px;
    color :  #f4edb5; 
    margin-top:20%;
}

.container{

    width: 960px;
    min-height: 80%;
    box-sizing: border-box;
    padding: 5% 0;
    margin: 5% auto;
    background-color: #305388;
}
.questionLbl{

    position: relative;
    top: 20%;
    background-color: #ffffff;
    margin: 50px 20px 20px 20px;
    text-align: center;
    background-color: #305388;

}
button{
    display: block;
    width: 400px;
    height: 100px;
    margin: 10px auto 0;
    font-size: 42px;
    cursor: pointer;
    background: transparent;
    border: 0;
    color :#305388;
}

h1 {
    margin-bottom: 50px;
    color: #ffffff;
  }
  
  h2 {
    margin-bottom: 25px;
    font-size: 35px;
    color :  #f4edb5; 
}
  
   
  #startBtn {
    margin-top: 10%;
    background: #f4edb5;
    border: 2px solid #1d2e64;
  }

  #finish {
    margin-top: 10%;
    background: #f4edb5;
    border: 2px solid #1d2e64;
  }
 
  
   